/* body{
    overflow-x: hidden;
} */

.hero-bg {
    margin-top: 70px;
}

.mynav {
    background-color: #005aac;
}

.main-name {
    color: white;
    font-weight: 700;
    margin-top: 5px;
}

.logo-img {

    height: 80%;
}

.nav-link {
    color: white;
    font-weight: 500;
}

.mycolor {
    color: white !important;
}

a:hover {
    color: white !important;
}

.navbar-toggler {
    color: white;
}

.icon-size{
    font-size: 38px;
    margin-top: 5px;
    color: #005aac;
    height: 0px;
}

.icon-size1{
    font-size: 40px;
    margin-top: 5px;
    margin-left: 8px;
    color: #005aac;
    height: 0px;
}

.icon-size2{
    font-size: 28px;
    margin-top: 5px;
    margin-left: -18px;
    color: #005aac;
    height: 0px;
}

.right-side-row{
    padding-top: 30px;
    width: auto;
    margin-left: -80px;
}

 .bold-text{
    font-weight: 700;
    font-size: 14px;
}

.bold-text1{
    font-weight: 700;
    font-size: 13px;
}

.normal-text{
    font-size: 13px;
    margin-left: 30px;
} 

.normal-text1{
    font-size: 13px;
    margin-left: 5px;
    margin-top: 5px;
} 

.normal-text2{
    font-size: 13px;
    margin-left: 15px;
    margin-top: 0px;
}

.inner-box {
    width: 400px;
    max-width: 100%;
    height: 200px;
    background: url('../images/rectangle.png');
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.hero-title2 {
    margin-top: 20px;
    font-size: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.about-area {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background: url('../images/upper.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.about-heading {
    padding-top: 50px;
    font-size: 40px;
    font-style: #283956;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-line {
    width: 300px;
    height: 3px;
    background: linear-gradient(to right, #1dc8c4 45%, #1a8bcd 60%);
}

.footer {
    margin-top: -70px;
}

.about-para {
    font-style: black;
    font-weight: 400;
    font-style: bold;
}

.second-bg {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.left-side-tri {
    width: 150px;
    height: 150px;
}


.right-side-tri {
    width: 150px;
    height: 150px;
}

.main-heading {
    margin-top: -80px;
    font-size: 50px;
}

.network-para {
    font-size: 20px;
    font-style: black;
}

.line-style {
    margin-top: -100px;
    margin-left: 0px;
}

.recatangle-box {
    height: 50px;
    background: linear-gradient(to right, #1dc8c4 45%, #1a8bcd 60%);
}

.recatangle-box2 {
    height: 30px;
    background: linear-gradient(to right, #1dc8c4 45%, #1a8bcd 60%);
}

.services {
    padding-left: 50px;
    padding-right: 50px;
}

.ser-heading {
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 20px;
}

.line-img {
    margin-top: -30px;
    width: 50%;
}

.ser-text {
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 40px;

}

@media only screen and (max-width: 530px) {
    .normal-text{
        font-size: 13px;
        margin-left: 30px !important;
        margin-top: 0px !important;
    } 

    
}


@media only screen and (max-width: 600px) {
    .main-heading {
        margin-top: 2px;
    }

    .line-img {
        margin-top: -30px;
        width: 100%;
    }

    .logo-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .normal-text{
        font-size: 13px;
        margin-left: 30px;
        margin-top: 5px;
    } 


}

@media only screen and (max-width: 990px) {

    .icon-size{
        font-size: 38px;
        margin-top: 5px;
        color: #005aac;
        height: 0px;
    }
    
    .icon-size1{
        font-size: 40px;
        margin-top: 5px;
        margin-left: 0px;
        color: #005aac;
        height: 0px;
    }
    
    .icon-size2{
        font-size: 30px;
        margin-top: 5px;
        margin-left: 0px;
        color: #005aac;
        height: 0px;
    }
    
    .right-side-row{
        padding-top: 30px;
        width: auto;
        margin-left: 0px;
    }
    
     .bold-text{
        font-weight: 700;
        font-size: 13px;
    }
    
    .normal-text{
        font-size: 13px;
        margin-left: 30px;
    } 
    
    .normal-text1{
        font-size: 13px;
        margin-left: 5px;
        margin-top: 5px;
    } 
    
    .normal-text2{
        font-size: 13px;
        margin-left: 35px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 750px) {
    .right-side-row{
        padding-top: 10px;
        width: auto;
        margin-left: 50px;
        padding-right: 30px;
    }

    .address-row{
        margin-bottom: 20px;
    }

    .call-row{
        margin-bottom: 20px;
    }

    .mail-row{
        margin-bottom: 10px;
    }

    .icon-size{
        font-size: 30px;
        margin-top: 0px;
        color: #005aac;
        height: 0px;
    }

    .normal-text{
        font-size: 13px;
        margin-left: 10px;
        margin-top: 5px;
    } 

    .normal-text1{
        font-size: 13px;
        margin-left: 10px;
        margin-top: 5px;
    } 

    .icon-size2{
        font-size: 25px;
        margin-top: 5px;
        margin-left: -5px;
        color: #005aac;
        height: 0px;
    }

    .logo-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .normal-text2{
        font-size: 13px;
        margin-left: 8px;
        margin-top: 0px;
    }

}